/* Dots animation */
.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: linear-gradient(90deg, #6e6fb0, #3f4195, #d2d4e3, #8587b8, #393a91);
  background-size: 300% 300%;
  animation: dotWave 1.2s infinite ease-in-out, gradientShift 3s infinite linear;
}
.delay-200 { animation-delay: 0.2s, 0s; }
.delay-400 { animation-delay: 0.4s, 0s; }

.dot-green {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #2ECC71;
  animation: pulseGreen 2s infinite;
}

@keyframes pulseGreen {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.7;
    transform: scale(1.2);
  }
}

@keyframes dotWave {
  0%, 80%, 100% { transform: translateY(0); }
  40% { transform: translateY(-8px); }
}
@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


/* custom underline animation */
.nav-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem; /* space between icon and text */
  padding-bottom: 2px;
  font-weight: 600; /* semi-bold */
  color: white; /* white color */
  transition: color 0.3s;
}
.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: white; /* white color */
  transition: width 0.3s ease;
}
.nav-link:hover {
  color: #e5e5e5; /* light gray hover color */
}
.nav-link:hover::after {
  width: 100%;
}
/* Ensure icons inherit link color */
.nav-link i {
  color: inherit;
}

/* Company name Melaka design in colors */
.gradient-text {
  background: linear-gradient(
    90deg,
    #6e6fb0,  /* Soft periwinkle blue */
    #3f4195,  /* Deep indigo blue */
    #065baa,  /* Pale lavender gray */
    #8587b8,  /* Muted violet-blue */
    #393a91   /* Dark royal blue */
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* for other browsers */
}

/* Mobile menu transition */
.mobile-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.mobile-menu.open {
  max-height: 500px;
}

/* Responsive navbar is animated*/
@keyframes slideFadeIn {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-slideFadeIn {
  animation: slideFadeIn 0.4s ease-out forwards;
}
